

$red: red;
$grey: black;

@for $i from 1 through 6 {
  $background-color: lighten($red, 5% * $i);
  $text-color: darken($grey, 5% * $i);
  
  .adv-item:nth-child(#{$i}) {
    background-color: $background-color;
    color: $text-color;
  }
}