$blue: #0000FF;
$white: #FFFFFF;

@for $i from 1 through 6 {
  $background-color: lighten($blue, 5% * $i);
  $text-color: darken($white, 5% * $i);
  
  ul li:nth-child(#{$i}) {
    background-color: $background-color;
    color: $text-color;
  }
}